{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="color-scheme" content="dark light"> -->

    <title>Edit Page</title>

    <link href="{% static 'myapp/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/501ac1e256.js" crossorigin="anonymous"></script>

    <style>
        body{
            background-color: #2a2f33;
            color: white;
        }
        .r{
            border-radius: 10%;
        }
    </style>

</head>
<body>
    <form action="{% url 'editpage' %}" method="POST" enctype ="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="edit_id" value="{{user.pk}}">

        <h1>Edit Page</h1>

        {% if user.Image %}
        <div class="container">
            <img src="{{MEDIA_URL}}{{user.Image.url}}" class='img r' id="img" height="200px" width="200px">
            <img src="{{MEDIA_URL}}{{user.Image.url}}" class='img r' id="img" height="200px" width="200px">
            <img src="{{MEDIA_URL}}{{user.Image.url}}" class='img r' id="img" height="200px" width="200px">
            <img src="{{MEDIA_URL}}{{user.Image.url}}" class='img r' id="img" height="200px" width="200px">
        </div>
        {% else %}
        <h4> No Image </h4>
        {% endif %}
        <input style="display: none;" type="file" name="image" id="image">

        <table border="1">
            <tr>
                <th> ID: </th>
                <td>{{user.pk}}</td>
            </tr>
            <tr>
                <th> UserName: </th>
                <td><input type="text"  class="form-control"  name="username" id="" value="{{user.UserName}}" placeholder="{{user.UserName}}" required></td>
            </tr>
            <tr>
                <th> EmailID: </th>
                <td><input type="text"  class="form-control"  name="email" id="" value="{{user.EmailID}}" placeholder="{{user.EmailID}}" required></td>
            </tr>
            <!-- <tr>
                <th> Image: </th>
                <td><br><div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" name="image" class="custom-file-input image" value="{{user.Image}}" id="inputGroupFile01 openfile" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div></td>
            </tr> -->
            <tr>
                <th> Password: </th>
                <td><input type="text"  class="form-control"  name="password" id="" value="{{user.Password}}" placeholder="{{user.Password}}" required></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-outline-success"><i class="far fa-save"></i> Save </button>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("img").click(function(){
            $("#image").click();
        });
        $("h4").click(function(){
            $("#image").click();
        });
    });
</script>
</html>